/*Variables*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --principal: #1e741f;
  --secondary: #FFF8E8;
  /* --secondary: #ededed; */
  --backcolor1: #40513B;
  --backcolor2: #9DC08B;
  /* --backcolor1: rgba(28, 40, 51, 0.95);
  --backcolor2: rgb(107, 138, 122); */
  --color3: rgba(227, 254, 247, 0.95);
  --backcolor3: rgb(37, 67, 54);
  --font1: "Montserrat", sans-serif;
  --font2: "Holtwood One SC", serif;
  --font3: "Abel", sans-serif;
  --font4: "Poppins", sans-serif;
  --font5: "Raleway", sans-serif;
}


/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  color: var(--secondary);
  font-family: var(--font5);
  background: linear-gradient(
    180deg,
    var(--backcolor2) 0%,
    var(--backcolor1) 100%
    );
  }
  
  .formatoprincipal{
    max-width: 1200px;
    margin: auto;
  }
  
  .nav {
    position: sticky;
    height: 11vh;
    
  }
  
  .container_nav {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 7vw;
    align-items: center;
    
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    margin-left: 8%;
  }
  
  .nav ul li {
    width: 140px;
    height: 35px;
    margin: 0 4vh;
    background-color: var(--secondary);
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding-top: 1.5%;
    
  }
  
  a {
    text-decoration: none;
    list-style-type: none;
    color: var(--backcolor3);
}

.active {
  background-color: var(--color3);
}

.nav p {
  font-weight:  bold;
  color: var(--backcolor3);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
}

.principal {
  text-align: center;
  justify-content: space-around;
  margin: 10px;
}

.principal_tarjeta{
  display: flex;
  width: 80%;
  column-gap: 10px;
  justify-content: center;
  margin: 20px auto;
  
}
.tarjeta {
  font-family: var(--font3);
  border: var(--secondary) 0px solid;
  border-radius: 5px;
  width: 35%;
  color: black;
  background-color: var(--secondary);
  padding: 5px;
}
.tarjeta:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    scale: 105%;
    transition: ease-in-out 0.15s;
}

.footer {
  color: var(--secondary);
  display: flex;
  position: relative;
  bottom: 0px;
  /* max-width: 1200px; */
  width: 100%;
  background-color: var(--backcolor3);
  height: 8vh;
}

.footer,
div {
  align-content: center;
  justify-content: space-around;
}