<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Cotizaciones</title>
</head>
<body>
    <div class="principal_tarjeta">
        <div class="tarjeta">
            <p id="tarjeta-prueba">Nombre</p>
            <p id="precio-compra">Compra</p>
            <p id="precio-venta">Venta</p>
        </div>
    </div>
    <div id="ultima_actualizacion">Última actualización: </div>

    <script src="script.js"></script>
</body>
</html>

